@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  /* couleurs et polices */
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);

  --primaryFont: "Poppins", sans-serif;
  --secondaryFont: "Open Sans", sans-serif;

  --fontSize: 1rem;
}

/* Reset global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--primaryFont);
  font-size: var(--fontSize);
  font-weight: 400;
  line-height: 1.5;
  color: hsl(0, 0%, 75%);
  background-color: var(--violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

header {
  margin: 0 auto;
  width: 90%;

  align-self: stretch;
  display: flex;
  justify-content: left;
  padding: 1.6rem 0;

}

header img {
  width: 10rem;
  height: auto;
}

main {
  margin: 0 auto;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mockups {
  width: 100%;
  max-width: 30rem;
}

.mockups > img {
  width: 100%;
  height: auto;
}

.call-to-action {
  width: 100%;
  max-width: 30rem;
  padding: 0.2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.call-to-action > h1 {
  color: hsl(0, 0%, 100%);
  font-size: calc(var(--fontSize) * 1.8);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.call-to-action > p {
  color: hsl(0, 0%, 100%);
  font-size: calc(var(--fontSize) * 1.05);
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
  background-color: white;
  color: var(--violet);
  border: none;
  border-radius: 2rem;
  font-size: calc(var(--fontSize) * 1.2);
  padding: 0.6rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
}

button:hover {
  background-color: var(--softMagenta);
  color: white;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2);
}

footer {
  margin: 0 auto;
  width: 90%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  padding-top: 3.6rem;
  padding-bottom: 1.6rem;
}

footer .credits {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.875rem;
}

footer .credits a {
  color: var(--softMagenta);
  text-decoration: none;
}

footer .social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer .social-links .icon {
  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid hsl(0, 5%, 96%);
  border-radius: 50%;
  transition: all 0.1s ease-in;
}

footer .social-links .icon > i {
  color: hsl(0, 5%, 96%);
  font-size: 1.2rem;
  transition: all 0.1s ease-in;
}

footer .social-links .icon:hover {
  border: 1px solid var(--softMagenta);
}

footer .social-links .icon:hover > i {
  color: var(--softMagenta);
}

/* Écrans larges */
@media (min-width: 1024px) {
  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }

  header {
    padding: 3rem 0;
  }

  header img {
    width: auto;
  }

  main {
    margin: 0 auto;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .mockups {
    width: 58%;
    max-width: none;
  }

  .call-to-action {
    min-width: 42%;

    align-items: flex-start;
    text-align: left;

    padding: 4rem;
    padding-left: 4rem;
    padding-right: 5rem;
  }

  .call-to-action > h1 {
    font-size: calc(var(--fontSize) * 3.6);
  }

  .call-to-action > p {
    font-size: calc(var(--fontSize) * 1.50);
  }

  button {
    font-size: calc(var(--fontSize) * 1.6);
    padding: 0.6rem 4rem;
  }

  footer .credits {
    align-self: stretch;

    flex-direction: row;
    align-items: center;
    gap: 1rem;

    text-align: left;
  }

  footer .social-links {
    align-self: stretch;

    justify-content: flex-end;
    padding-bottom: 1rem;
  }
}